:root {
  //colors
  --cherry: #991300;
  --smoke: #eff1f3;
  --cloudy: #cecfd1;
  --steel: #666666;
  --diesel: #dee2e7;
  --sky: #1185de;

  //font-size
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
}